.part_operations{
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operation_button{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 52px;
    height: 48px;
    font-weight: 500;
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
}