.constructor__empty{
    box-sizing: border-box;

    position: absolute;
    width: 243px;
    height: 480px;
    left: 372px;
    top: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;
}
.constructor{
    box-sizing: border-box;
    position: absolute;
    width: 243px;
    height: 480px;
    left: 372px;
    top: 106px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.constructor__empty h3{
    color: #5D5FEF;
}

.constructor__empty span{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #6B7280;
}

.constructor_icon{
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}