
.equality_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 64px;
    background: #5D5FEF;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin: 4px;
}