.part_display_container{
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px 8px;
    gap: 10px;
    width: 232px;
    height: 52px;
    background: #F3F4F6;
    border-radius: 6px;
    position: relative;
    align-items: end;
}

.display_content{
    position: absolute;
    right: 8px;
    top: 2px;
    height: 44px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    font-family: sans-serif;
    text-align: right;
    color: #111827;

}